.container{
  background-color:#e4e1e100 ;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns:repeat(12, 1fr);
  align-items: stretch;
  font-family:  'Helvetica Neue', sans-serif;
  
 
}
.headernav{
  color:honeydew
}
.nav-center {
  display: flex;
  justify-content: space-between; 
  align-items:flex-end; 

  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
} 
.nav-links {
  display: flex;
  align-items:flex-end;
}
.nav-links a {
  text-transform: capitalize;
  display:flex;
  font-weight: bold;
  margin-right: 0.5rem;
  ;
  font-weight: 400; 
  letter-spacing: 2px; 
  font-size: 1.2rem; 
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}
.nav-links a:hover {
  color: gray;
}
.logo {
  width: 12rem;
}
.navbar {
  margin-bottom: 2%;

  flex-direction: row;

 

  grid-column: 1/13;
  background: var(--mainWhite);
  /* height: 5rem; */
  display: flex;
  align-items: flex-end;
  border: 1px solid rgba(158, 155, 155, 0.945);
  background-color: #ea6a47;
  font: white;
  font-family:  'Helvetica Neue', sans-serif;
}
a{
  color: white;
}
.navbar a{
  text-decoration: none;
  font-size: 25px;
  color: #fbf8f8;
  display: block;
  transition: 0.3s;
}
.navbar a:hover {
  background-color: gray;
}




.dashboard{
  border: #494445 solid ;
  margin-left: 2%;
  
  padding: 5%;
  grid-row: 2/13;
  grid-column: 4/13;
  background-color:#e4e1e1;
}
.sidebar{
  left: 0;
  top: 0;
  padding-top: 20%;
  font-family:  'Helvetica Neue', sans-serif;
  font-size:medium;
  padding-right: 1%;
  padding-left:1% ;
  grid-row:2/13;
  grid-column: 1/4;
  background-color: #0091d5;
  border: #456990 solid;
}
.sidebarLinks{
  position: sticky;
}
.sidebar a{
  text-decoration: none;
  color: #302d2d;
  display: block;
  transition: 0.5s;
}
.sidebar a:hover {
  background-color:#387bd3;
}


ul{
  list-style-type:none;
}
.icon{
  background-color:white;
  border-radius: 2em;
  margin-right: .5em;
  margin-left: 1em;
  border: #114B5F solid; 
  justify-content: center;
  vertical-align: middle;
}
.sidebarItem{
 
  align-content: center;
  justify-content: center;
}

/* GRAPHS */
.canvas{
  max-width: 100%;
  max-height: 100%;
}
.thumbnailGraph1{
  margin: 5%;
  border: #456990 solid;
  border-radius: 1em;
  background-color: white;
  flex-shrink: 3;
}
.thumbnailGraph2{
  margin: 5%;
  border: #456990 solid;
  border-radius: 1em;
  background-color: white;
}
.thumbnailGraph3{
  margin: 5%;
  border: #456990 solid;
  border-radius: 1em;
  background-color: white;
}
.graph :hover{
  
  border-radius: 1em;
}
.graphButtons{
  border:rgba(0, 0, 0, 0.2) solid;
  background-color: pink;
  border-radius: 4%;
}
.graph{
  
   overflow-x: scroll;
  box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
  border-radius: 1em;
  border:#114c5f8f solid;
  border-width: 3em;
  border-radius: 1em;
  
}
.mainGraph{

  margin: 5%;
  border: #456990 solid;
  border-radius: 1em;
  background-color: white;
}
footer{
  background-color: #456990 ;
}


/* MAP CSS */

.map {
  border: #6B2737 solid ;
  margin-left: 2%;
  
  padding: 5%;
  grid-row: 2/13;
  grid-column: 4/13;
  background-color: pink;
  
}
.main-map{
  grid-column: 4/7;
  
}

.map-h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
  color:#114c5f ;
}
.google-map {
  width:auto ;
  height: 20vh;
  border:#114c5f8f solid;
  border-width: 3em;
  border-radius: 1em;
  box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);

}
.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 4rem;
  color:red;
}

.pin-text {
  font-size: 1.3em;
  color: black;
  background-color: rgba(166, 203, 206, 0.596);
  border: rgba(33, 33, 78, 0.555) solid;
  border-radius: .5em;
  text-decoration: none;
}
.pin-text-links{
  text-decoration: none;
}



.about-section {
  width: var(--smallWidth);
  max-width: var(--maxWidth);
  margin: 0 auto;
}
.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}
 

@media (min-width: 700px) {
  .weather-container {
  background-color: #114B5F;
  color: white;
  display: flex;
  flex-direction: column; 
  max-width: 35%;
  margin: 6%;
  border-radius: 1.5em;
  box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
  border: rgba(255, 255, 255, 0.783) solid;
 
  }
}

.info-container {
  border-radius: 2em;
  background-color: #114B5F;
  display: flex;
  /* flex-wrap:wrap; */
  flex-direction: row;
  padding: 20px;

}
.info-container > div {
  border-radius: 1em;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  padding: 0 0 2px 2px;
  margin: auto;
  
}
.temp-info {
  background-color:#b1dadaf3;
  color: #114B5F;
  display: flex;
  align-items: center;

}
.temp-details  {
  padding-left: 20px ;
}
.img {
  height: 50%;
  object-fit: cover;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}
/* p {
  padding: 0,0,0,40px;
  background-color: white;
} */

/* h3 {
  padding-bottom: 2rem;
  margin: 2px;
} */

.current-temp {
  padding-left: 10px;
  margin-bottom: 50px;
}
.footer {
  text-align: center;
  z-index: -1;
}


@media screen and (min-width: 799px) {
  .google-map {
    height: 80vh;
  }
  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }
  .pin {
    width: 15vw;
  }
  .pin-icon {
    font-size: auto;
  }
}

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
} 

input, button {
  appearance: none;
  background: none;
  border: none;
  outline: none;

}

.Login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #53565A; */
  background-image: url("https://geology.com/world/guatemala-map.gif");
  background-repeat: no-repeat;
  background-size: cover;
 
}

 form{
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

form:after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #FFCE00, #FE4880);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

form .form-inner {
  position: relative;
  display: block;
  background-color: white;
  padding: 30px;
  z-index: 2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

form .form-inner h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label {
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label {
  color: #FE4880;
}

form .form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #F8F8F8;
  border-radius: 8px;
  transition: 0.4s;
}
form .form-inner .error {
  color: red;
}

form .form-inner .form-group input:focus {
  box-shadow: 0px 0px;
}

form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type="submit"], .welcome button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

form .form-inner input[type="submit"]:hover, .welcome button:hover {
  background-position: 100% 0%;
}

.welcome {
  width: 100%;
  max-width: 480px;
  background-color: #fff;
  padding: 15px 30px;
}

.welcome h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.welcome h2 span {
  color: #FE4880;
  font-weight: 700;
}























/* SIDEBAR BOOTSTRAP CSS */

