.container{
  background-color: #F45B69 ;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns:repeat(12, 1fr);
  align-items: stretch;
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}
.nav-links a:hover {
  color: var(--primaryColor);
}
.logo {
  width: 12rem;
}
.navbar {
  margin-bottom: 2%;
  background-color: rgb(51, 51, 207);
  grid-column: 1/13;
  background: var(--mainWhite);
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--primaryColor);
  background-color: #114B5F;
  font: white;
}
a{
  color: white;
}
.navbar a{
  text-decoration: none;
  font-size: 25px;
  color: #fbf8f8;
  display: block;
  transition: 0.3s;
}
.navbar a:hover {
  background-color:#2ec4ed;
}
.dashboard{
  border: #6B2737 solid ;
  margin-left: 2%;
  padding: 5%;
  grid-row: 2/13;
  grid-column: 4/13;
  background-color: pink;
}
.sidebar{
  left: 0;
  top: 0;
  padding-top: 20%;
  font-family: 'Courier New', Courier, monospace;
  font-size:medium;
  padding-right: 1%;
  padding-left:1% ;
  grid-row:2/13;
  grid-column: 1/4;
  background-color: #b2d8d8;
  border: #456990 solid;
}
.sidebarLinks{
  position: sticky;
}
.sidebar a{
  text-decoration: none;
  color: #302d2d;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  background-color:#66b2b2;
}
ul{
  list-style-type:none;
}
.icon{
  background-color: white;
  border-radius: 2em;
  margin-right: 1em;
  border: rgba(20, 193, 236, 0.5) solid; 
  justify-content: center;
}
.sidebarItem{
  vertical-align: middle;
  align-content: center;
  justify-content: center;
}
/* GRAPHS */
.canvas{
  max-width: 100%;
  max-height: 100%;
}
.thumbnailGraph1{
  margin: 5%;
  border: #456990 solid;
  border-radius: 1em;
  background-color: white;
  flex-shrink: 3;
}
.thumbnailGraph2{
  margin: 5%;
  border: #456990 solid;
  border-radius: 1em;
  background-color: white;
}
.thumbnailGraph3{
  margin: 5%;
  border: #456990 solid;
  border-radius: 1em;
  background-color: white;
}
.graph :hover{
  box-shadow: 5px 10px #109c9c50;
  border-radius: 1em;
}
.mainGraph{
  margin: 5%;
  border: #456990 solid;
  border-radius: 1em;
  background-color: white;
}
/* MAP CSS */
.map {
  border: #6B2737 solid ;
  margin-left: 2%;
  padding: 5%;
  grid-row: 2/13;
  grid-column: 4/13;
  background-color: pink;
}
.main-map{
  grid-column: 4/7;
}
.map-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}
.google-map {
  width: 100%;
  height: 20vh;
}
.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);
}
.pin-icon {
  font-size: 4rem;
}
.pin-text {
  font-size: 1.3em;
}

.map{
  grid-row:2/13;
  grid-column: 4/13;
}


.about-section {
  width: var(--smallWidth);
  max-width: var(--maxWidth);
  margin: 0 auto;
}
.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}
 

.weather-container {
  background-color: goldenrod;
  display: flex;
  flex-direction: column; 
  max-width: 35%;

}

.info-container {
  background-color: red;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;

}
.temp-info {
  background-color:goldenrod;
  display: flex;
  flex-direction: row;
}
.img {
  height: 50%;
  object-fit: cover;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}
/* p {
  padding: 0,0,0,40px;
  background-color: white;
} */

/* h3 {
  padding-bottom: 2rem;
  margin: 2px;
} */
.location-info {
  border: solid;

}
.temp-unit {
  border: solid;
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 80vh;
  }
  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }
  .pin {
    width: 15vw;
  }
  .pin-icon {
    font-size: 10vw;
  }
}