.container{
  display:block;

  
  
}
.navbar {

  /* position: sticky; */


  max-width: 100%;
  display: block;
  
}
.topnav{
  /* position: fixed; */
  top: 0;
  font-family: sans-serif;
  display: flex;
  flex:stretch;
  flex-direction: row;
  background-color: black;
  color:white;
  padding: 2%;
  justify-content: space-between;
  position: sticky;
  top: 0;
  max-width: 100%;
  
}
.topnav a{
  color: white;
  text-decoration: none;
}
.topnav a:hover{
  color:rgba(228, 132, 252, 0.486);
}

.middlenav {
  justify-content: center;
  align-content: center;
  /* box-shadow: inset 0 0 10px #000000; */
  /* background-color: rgba(0, 0, 0, 0.322); */
  padding: 2%;

} 

.middlenav h1{
  font-family: sans-serif;
  width: fit-content;
  margin: 0 auto;

  position: relative;
  /* background-color: rgba(221, 240, 237, 0.541); */
  font-size: 4em;
  padding: .5em;
  border-radius: 3em;
  /* border:  rgb(156, 72, 235) solid; */
  border-width: 3px;
  
}
.hidden{
  display:none;
}
.sidbardiv{
  position: fixed;
  top: 15%;
  max-width: fit-content;
  display: block;
  z-index: 10;
  
}
.sidebar{
  width:auto;
  font-family: sans-serif;
  font-weight: bold;
  /* background-color:rgba(255, 255, 255, 0); */
  padding: 5%;
  margin-top: -6%;
  margin-left: 4%;
  z-index: 1;

  
  
}
.sidebar-button-container{
  width:fit-content;
  z-index: 1;

  
}
.sidebarLinks{
  text-decoration:none;
  color: white;
  margin-top: -2;
  display:flex;
  flex-direction: column;
  /* border-radius: 2em; */
  border-top-left-radius: 0;
  background-color: white;
  width: fit-content;
  /* border: rgb(204, 0, 255) solid ; */
  z-index: 1;
  background-color:rgba(0, 0,0, 0.425);
}
.sidebar a{
  font-size: auto;
  text-align: center;
  text-justify: center;
  width: 75px;
  align-content: center;
  text-decoration: none;
  padding: 1em;
}
.sidebar a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.sidebar a:hover {
  background-image: linear-gradient(to bottom right, rgba(0, 132, 255, 0.658), rgba(6, 145, 103, 0.589));
}
.sidebar a :active{
  background-image: linear-gradient(to bottom right, rgba(0, 132, 255, 0.658), rgba(6, 145, 103, 0.589));
}
.dashboard{
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color:white;
}
.hourbuttons{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}
.extendedperiodbuttons{
  
  text-decoration:none;
  color: black;
  margin-top: -2;
  display:flex;
  justify-content: space-around;
  align-content: center;
  border-radius: 2em;
  border-top-left-radius: 0;
  background-color: white;
  max-width: 100%;
}

.timebutton{
  font-family: sans-serif;
  font-size: 1.5em ;
  margin-bottom: 1em;
  padding-right: 1em;
  padding-left: 1em;
}
.timebutton:hover{
  color:rgba(204, 0, 255, 0.486);
}
.weatherandstatus{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.statusmain{
  display: flex;
  flex-wrap: wrap;
  margin-left: 2.7%;
}
.status h2{
  background-color:black;
  text-align: center;
 
}
.status{
  font-family: sans-serif;
  color: white;
  width: 21em;
  max-width: 21em;
  height: auto;
  background-color: rgb(161, 161, 157);
  border: gray solid;
  margin-bottom: 2%;  
}
.status ul{
  padding-left: 5%;
  padding-right: 5%;
}
.statusitem{
  display:block;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: .2em; 
  margin-left: 2em;
}
.stationandlevel {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.nivel {
  width: 2em;
  margin-left: 2.2em;
  color: black;
  background-color:  rgb(216, 211, 211);;
  padding-top: .2em;
  text-align: center;
  box-shadow: inset 1px 0px 3px 3px rgba(41, 41, 41, 0.3);
  border: gray solid;
  font-weight: bold;
  
}
.station{
  color: black;
  font-size: 1em;
  background-color: rgb(216, 211, 211);
  box-shadow: inset 1px 0px 3px 3px rgba(41, 41, 41, 0.3);
  width: 10em;
  padding-left: 1em;
  padding-top: .1em;
  border: gray solid;
  margin-bottom: .1em;
}
.alarmsheader{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-left: em;
  margin-bottom: 1em;
}
.alarmsheader span{
  margin-left: 2.3em;
}
@keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.3;}
}
.leds{

  display: flex;
  width: 10em;
  justify-content: space-around;
  align-items: center;
  margin-right: .5em;
}
.bateriaroja {
  text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-webkit-animation-direction: alternate;
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  border: rgba(240, 8, 8, 0.712) solid;
  border-width: .2em;
  margin-left: 1em;
}
.bateriaverde{
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  border: rgba(136, 128, 148, 0.479) solid;
  border-width: .2em;
  margin-left: 1em;
}

.sonda{
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  border: rgba(136, 128, 148, 0.479) solid;
}
.signal {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  border:rgba(136, 128, 148, 0.479) solid;
}

ul{
  list-style-type:none;
}
 /* @media (min-width: 700px) { */
  @media screen and (min-width: 375px){
    .weather-container {
      min-width: 21em;
      width: 21em;
      min-height: 26.7em;
      justify-content: center;
      color: white;
      display: flex;
      flex-direction: column; 
      background-image: linear-gradient(to bottom right, rgba(0, 132, 255, 0.658), rgba(6, 145, 103, 0.226));
   
 
    }
  }
  .weather-box{
    max-width: 21em;
  }
  .weather-container {
    border: gray solid;
    width: 21em;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column; 
    background-image: linear-gradient(to bottom right, rgba(0, 132, 255, 0.658), rgba(6, 145, 103, 0.226));
  
  

 
  }
/* } */
.location-info{
  display: flex;
  flex-direction: column;
}
.info-container {
  font-family: sans-serif;
  
  display: flex;
  flex-direction: row;
  padding: 1em;

}
.info-container > div {

  display: flex;

  flex-wrap: wrap;
  flex: 0 1 auto;
  padding: 0 0 2px 2px;
  margin: auto;
  
}
.temp-info {
  
  background-color: rgb(161, 161, 157);
  color: white;
  display: flex;
  font-family: sans-serif;
  
  
  
}

.temp-details  {
  font-family: sans-serif;
  justify-content: flex-end;
  
}

.img {
  height: 50%;
  object-fit: cover;
  
}
/* p {
  padding: 0,0,0,40px;
  background-color: white;
} */

/* h3 {
  padding-bottom: 2rem;
  margin: 2px;
} */

.current-temp {
  padding-left: 10px;
  padding-right: 10px;
  
  font-size: x-large ;
  font-weight: bolder;
  
}
.weatherfooter {
  text-align: center;
  /* z-index: -1; */
  background-color: #456990;
}
.container .footer{
  width: 100%;
  /* border-top: #211823 solid ; */
  border-width: 4%;
  align-content: center;
  justify-content: center;
  
 
  display: flex;
  /* width: 100%; */
}
.container .footer > div{
  width: 20%;
  /* max-height: 5em; */



}
.container .footer div > img {
  width: 100%;
  
}



@media screen and (min-width: 373px){
  .container .footer{
  
    width: 95%;
    background-color: white;
    /* border: #211823 solid; */
    padding: 2%;
    border-width: 2%;
    align-content: center;
    justify-content: center;
    /* .galileo {
      max-width:100% ;
      max-height:100%;
      border: rgba(94, 11, 43, 0.502) solid;
      border-radius: 30%;
    }
    
    .galileo-box {
      max-width: 100px;
      max-height: 100px;
      padding: 2px;
      
    } */
    display: flex;
    /* width: 100%; */
  }
  .container .footer > div{
    width: 20%;

  }
  .container .footer div > img {
    width: 100%;
  }
}
  
  
@media screen and (min-width: 375px){
  .graph{
    overflow-x: scroll;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.3);
  }

 
  .canvas{
    /* overflow-x: scroll; */
    max-width: 100%;
    max-height: 100%;
  }

}

.graphButtons{
  box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);


  border-radius: 4%;
}
.canvas{
  overflow-x: scroll;
  max-width: 100%;
  max-height: 100%;
}

.graph{
  overflow-x: scroll;
  max-width: 100%;
  
}


.mainGraph{
  box-shadow:  0 0 10px 5px rgba(0,0,0,0.2);
  max-width: 90%;
  max-height: 30%;
  margin-left:  5% ;
  margin-right: 5%;
  margin-bottom: 5%;
  
  background-color: white;
}
.footer{
  align-items: center;
  
  /* border: solid black; */
  height: 3%;

}

.map {
  border: #6B2737 solid ;
  margin-left: 2%;
  
  padding: 5%;
 
  /* background-color: rgb(171, 169, 169); */
  
}


.map-h2 {
  font-family: sans-serif ;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
  color:#114c5f ;
}
.google-map {
  margin-bottom: 5%;
  background-image: linear-gradient(to bottom right, rgba(0, 132, 255, 0.658), rgba(6, 145, 103, 0.226));
  height: 60vh;
  border: rgba(6, 145, 103, 0.411) solid;
  border-width: .5em;
}
.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);
  
}

.pin-icon {
  font-size: 2rem;
 color: blue;
}

.pin-text {
  font-size: 1.3em;
  color: black;
  background-image: linear-gradient(to bottom right, rgba(0, 132, 255, 0.322), rgba(6, 145, 103, 0.164));
  border-radius: .5em;
  padding:0.2em;
  text-decoration: none;
}
.pin a{
  text-decoration: none;

}


input, button {
  appearance: none;
  background: none;
  border: none;
  outline: none;

}


.Login {
  
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #53565A;  */
  background-image: 
    url('./images/river.jpg');
    /* linear-gradient(to bottom right, rgb(204, 0, 255), rgb(15, 6, 145)); */
  
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  /* justify-content: space-between; */
  
  
 
}

.loginForm{
  max-width: 400px;
}

.LoginHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: montserrat, sans-serif;
  color: #ffffff;
  font-size: xx-large;
  background-image: 
  url('./images/image1.png');
  background-repeat: no-repeat;
  background-size: 10em;
  background-position: center;
  box-shadow: 0 0 8px  #27255c;
}

.LoginHeader h1 {

  -webkit-text-stroke:  rgba(49, 180, 180, 0.253);
  text-shadow: 3px 3px 10px #27255c;
  
  
  
}
.LoginHeader h2{
  
  -webkit-text-stroke: 1px 1px rgba(49, 180, 180, 0.253);
  text-shadow: 2px 2px 10px #27255c;
  text-align: center;
}



 form{
  
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 1em;
  /* box-sizing: border-box; */
  font-family: montserrat, sans-serif;
  padding: 2%;
  box-shadow: 0 0 8px  #27255c; 
  align-content: center;
 
}

form:after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  /* background-image:linear-gradient(to bottom right, rgb(204, 0, 255), rgb(15, 6, 145)); */
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: montserrat, sans-serif;
}

form .form-inner {
  position: relative;
  display: block;
  background-color: white;
  
  z-index: 2;
  margin: 0;
  padding: 5%;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

form .form-inner h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label {
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label {
  color: #FE4880;
}

form .form-inner .form-group input {
  display: block;
  width: 85%;
  padding: 10px 15px;
  background-color: #e4e0e0;
  border-radius: 8px;
  transition: 0.4s;
}
form .form-inner .error {
  color: red;
  
}

form .form-inner .form-group input:focus {
  box-shadow: 0px 0px;
}

form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type="submit"], .welcome button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to bottom right, rgba(0, 132, 255, 0.658), rgba(6, 145, 103, 0.589));
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

form .form-inner input[type="submit"]:hover, .welcome button:hover {
  background-position: 100% 0%;
}

.welcome {
  width: 100%;
  max-width: 480px;
  background-color: #fff;
  padding: 15px 30px;
}

.welcome h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.welcome h2 span {
  
  font-weight: 700;
}


.alertbox1 {
  font-family: sans-serif;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  /* z-index: -1; */

}
.alertcolor{
  display: inline;
  width: 6em;
  height: 3em;
  border: rgba(0, 0, 0, 0.342) solid;
  animation: pulse 2s infinite;
  
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.alertMessage {
  font-weight: bold;
}

/* About Section */


.section-about-section {
  font-family: sans-serif;
}

.section-title {
  font-family: sans-serif;
  padding: 2.5%;
}

.section-paragraph {
  font-family: sans-serif;
  padding: 2.5%;
}

.section-paragraph-2 {
  font-family: sans-serif;
  padding: 2.5%;
}
.caritas-box{
  margin-right:1%;
}